*{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
}

/* dark theme and light theme styling  */

body[data-theme="Light"]{
  background-color: white;
  color: black;
}

body[data-theme="Dark"]{
  background-color:#333C4A;
  color: white;
}



.header-section{
  display: flex;

  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* background-color: #ffffff; */
  padding: 1.4rem;


}

.header-section h1{
 
  color: #07617D;
}

.header-section h3{
  color: #2E383F;
  font-size: 15px;
}

.header-section h1:hover{
  color:#FF7F50 ;
  transition: 1s;
  transform: scale(1.2);
}

#toggle-theme{
  padding: 0.3rem;
  font-size: 23px;
  width: 110px;
  font-weight: bolder;
  background-color:white;
  border-radius: 2rem;
}


/* container styling  */


/* -------All songs section--------------  */
.all-container {
  display: flex;
  justify-content: space-between;
}

.all-songs, .song-card, .playlists {
  width: 30%;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  /* background-color: #E0FCFF; */
}

.filter-section{
  display: flex;
  gap: 1rem;
}

.all-songs{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

#search-song{
  padding: 10px 15px;
   border: 2px solid #FF7F50;
   /* border-radius: 15px; */
   font-size: 1rem;
   outline: none;
   transition: border-color 0.2s ease;


}


.all-container ul{
  list-style: none;
}

.all-container li{
  background-color: #00ADB5;
  margin-top: 1rem;
  border-radius: 15px;
  padding: 0.5rem;
  padding-left: 1.5rem;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.all-container li:hover{
  /* background-color: rgb(216, 216, 216); */
  transition: 0.2s  ease;
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#genre-filter{
  font-size: 1rem;
  width: 90px;
  color: #2E383F;
  font-weight:bolder;
}

/* -----------------All song section end ------------------------- */





/* ---------------------Now playing section ------------------ */


.song-card{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}
.song-card-subcontainer{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 1rem;
  padding: 1rem;

}
.song-card-subcontainer img{
  width: 100%;
  
  
}

#audio-player{
  width: 100%;
  /* border-radius: -5px; */
  /* border-radius: 100px; */
  /* filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%); */
}

.audio-controlls{
  display: flex;
  justify-content: space-around;
}

.btn{
  font-size: 1.3rem;
  
  padding: 0.5rem;
  width: 70px;
  cursor: pointer;
  background-color: #00ADB5;
  color: #EEEEEE;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* .icons{
  align-items: center;
  width: 100%;
} */
.btn:hover{
  transition: 0.2s  ease;
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#prev-song{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#next-song{
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;


}

.playlist-btn{
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #EEEEEE;
  background-color: #00ADB5;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  border-radius: 35px;
  width: 100%;


}
.playlist-btn:hover{
  transition: 0.2s  ease;
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* playlist section  */


.playlists{
  display: flex;
  flex-direction: column;
  /* text-align: ; */
  padding: 1rem;
  gap: 1rem;
}

.list-section li{
  background-color: #FF7F50;
  text-align: center;
  /* color:#334443;  */
  font-size: 1.3rem;
  font-weight: bold;
}

.input{
  padding: 10px 15px;
   border: 2px solid #00ADB5;
   /* border-radius: 15px; */
   font-size: 1rem;
   outline: none;
   transition: border-color 0.2s ease;

}

#all-playlist{
  margin-top: 1rem;
}

.create-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#create-playlist{
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  outline: none;
  background-color: #1C2938;
  color: #EEEEEE;
}
#create-playlist:hover{
  background-color: #FF7F50;
  transition: 0.4s ease;
}

.title-heading{
  text-align: center;
  color:#3A4750 ;
}

#current-playlist-list li{
  background-color: #C6FFC1;
  color: black; 
}